<!--
<h2 id="title">Welcome to Ember</h2>

asdf
-->

<!--
{{#my-new-component}}
{{/my-new-component}}
-->

<script type="text/javascript">

    //var data = [
    //    [49.72015422,14.27402629,1  ],
    //    [49.66549949,14.29529302,2  ],
    //    [49.54634256,14.08849707,3  ]
    //];

    //var map = L.map('map').setView([51.505, -0.09], 2);

//    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
//        maxZoom: 18,
//        id: 'mapbox.dark',
//        accessToken: 'pk.eyJ1Ijoic2hhdW5iYXJ1dGgiLCJhIjoiY2lnNWxhZWtzNDZpbXYzbTM3Mndrbzd6ciJ9.YsBrFC23pEcSHDJX8aHQ9g'
//    }).addTo(map);

    //var canvasTiles = L.tileLayer.canvas();

    //canvasTiles.drawTile = function(canvas, tilePoint, zoom) {
    //    var ctx = canvas.getContext('2d');
    //    ctx.fillText(tilePoint.toString(), 50, 50);
    //    ctx.globalAlpha = 0.2;
    //    ctx.fillStyle = '#000';
    //    ctx.fillRect(10, 10, 246, 246);
    //};

    //canvasTiles.addTo(map);

//    var points = data; // data loaded from data.js
//
//    L.canvasOverlay()
//            .drawing(drawingOnCanvas)
//            .addTo(map);
//
//    alert(data);



</script>

{{outlet}}
