body, html, .ember-view, #map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  /*background: #1e1e1e;*/
  background: #242426;
  /*background: #000000;*/
}

body { margin:0; padding:0; overflow: hidden;}
